.vira-logo {
  width: 183px;
}

.sidebar-portfolio {
  width: 11%;
  background-color: rgb(237, 242, 247); 
  float: left;
}

.item-links {
  /* border: 1px solid; */
  list-style: none;
  margin-left: -40px;

}

.aboutme-text {
  border: 1px solid #fff;
  margin-top: 75px;
}

.aboutme-screen {
  border: 1px solid grey;
  margin-top: 25px;
  background-color: whitesmoke;
  margin-left: 240px;
  margin-right: 25px;
  padding-top: 15px;
}

.aboutme-text, h3 {
  text-align: center;
}

.top-aboutme-page-tab {
  border: 1px solid #fff;
}